{% extends 'base.html' %}


{% block content %}

<h1>password change</h1>


<form action="" method="post">
    {% csrf_token %}


    <div class="fieldWrapper">

        <label for="id_password_old">Old Password:</label>
        <input type="password" name="password_old" class="form-input" placeholder="old password" maxlength="128"
            required id="id_password_old">

    </div>
    <div class="fieldWrapper">

        <label for="id_password1">New Password:</label>
        <input type="password" name="password1" class="form-input" placeholder="new password" maxlength="128" required
            id="id_password1">


    </div>
    <div class="fieldWrapper">

        <label for="id_password2">New Password:</label>
        <input type="password" name="password2" class="form-input" placeholder="new password" maxlength="128" required
            id="id_password2">


    </div>

    <input type="submit" value="Submit">

</form>


{% endblock content %}