{% extends 'base.html' %}


{% block content %}
register


<form action="" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>
    <div class="fieldWrapper">
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="fieldWrapper">
        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </div>
    <div class="fieldWrapper">
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}">Password:</label>
        {{ form.password2 }}
    </div>

    <input type="submit" value="Submit">

</form>


{% endblock content %}